Resources/*Size
Resources/Fonts
Resources/Audio
proj.win32
proj.win10
proj.win8.1-universal
proj.linux
proj.ios_mac
proj.android-studio
cocos2d
bin
CMakeLists.txt
.cocos-project.json
proj.android/res/values
proj.android/res/drawable-mdpi
proj.android/res/drawable-ldpi
proj.android/res/drawable-hdpi
proj.android/obj
proj.android/libs
proj.android/bin
proj.android/assets
proj.android/gen
proj.android/build-cfg.json
.*
proguard-project.txt
local.properties
lint.xml
LICENSE
*.log
build_native.py
ant.properties
build.xml
*.md
R.java.d
proj.android/jni/Application.mk
proj.android/jni/hellocpp/
LudoMuseDebug/config.txt

/Debug/
